<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Test">


	<listeners>
		<listener class-name="com.automation.ExtentReportListner.ExtentReportListner" />
	</listeners>
	
	<test name="WebTest">
		<classes>
			<class name="com.automation.tests.LoginTest"> </class>
			<class name="com.automation.tests.AddtoCartTest"> </class>
            
		</classes>
	</test>	
</suite> 